h1{
    color:#000000;
    font-weight: 200;
    font-family: arial;
}

td{
    padding-top: .5em;
}

.table1{
    border-color: #e5ebe9;
    border-style: solid;
    border-radius: 20px;
    padding: 50px;
    width:40%;
    
}

.table2{
    border-color: #e5ebe9;
    border-style: solid;
    border-radius: 20px;
    padding: 40px;
    width:40%;   
}

input{
    border-radius: 15px;
    box-sizing: border-box;
}

.box{
    width: 100%; 
    line-height: 1.5em;
    padding: 0px 15px;   
}

form textarea { 
    width: 100%; 
    border-radius: 15px;
    padding: 10px 10px; 
}

.disable { opacity : .35; background-color:lightgray; border:1px solid gray;}
